.grid {
    float : left;
    border : 1px solid #66CCFF;
}

.alive {
    background-color:black;
}

.hidden {
    display:none;
}

#space {
    width:500px;
    margin:auto;
    border:2px solid black;
}